* {
    font-family: 'Roboto', sans-serif;
}

.container { position:relative; }

.container #mustangVideo {
    position:relative;
    z-index:0;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: black;
}

.ford-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: -12rem;
}

.left-nav .suv:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .mustang:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .truck:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .electric:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .classic:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}

.right-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right-nav .used:hover {
    color: rgb(10, 128, 238);
    cursor: pointer;
}
.right-nav .dealer:hover {
    color: rgb(10, 128, 238);
    cursor: pointer;
}
.right-nav .login:hover {
    color: rgb(10, 128, 238);
    cursor: pointer;
}

.fas {
    z-index: 100;
    display: flex;
    align-items: center;
}

#mustangVideo {
    width: 100%;
    height: 660px;
    object-fit: cover;
    z-index: -100;
}

.overlay {
    position:absolute;
    top: 6%;
    left: 35%;
    text-align: center;
    z-index:1;
    color: white;
    font-size: 2rem;
}
.overlay h1 {
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.overlay h3 {
    margin-top: -2rem;
}

.btnMustang {
    height: 50px;
    width: 200px;
    margin-top: 22rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    font: bolder;
    transition: transform 0.5s ease;
}

.btnMustang:hover {
    background-color: rgb(10, 128, 238);
    color: white;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

.icon-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.mustangs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mustangs2021 h1 {
    text-align: center;
}

.descr1 {
    display: flex;
    flex-direction: column;
}
.descr1 h5 {
    margin-top: -.5rem;
}

.descr2 {
    display: flex;
    flex-direction: column;
}

.descr2 h5 {
    margin-top: -.5rem;
}
.descr3 {
    display: flex;
    flex-direction: column;
}
.descr3 h5 {
    margin-top: -.5rem;
}
.descr2 .btn2 {
    margin-top: 2rem;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5rem;
}

/* Hover for the mustangs */
.descr2 .btn2:hover {
    background-color: rgb(10, 128, 238);
    color: white;
    transition: all 0.3s ease 0s;
}

.descr1 #eco {
    transition: transform 0.5s ease;
}
.descr1 #eco:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.descr2 #shelby {
    transition: transform 0.5s ease;
}
.descr2 #shelby:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.descr3 #mach {
    transition: transform 0.5s ease;
}
.descr3 #mach:hover {
    transform: translateY(-2px);
    cursor: pointer;
}