* {
    font-family: 'Roboto', sans-serif;
}

.container { position:relative; }

.container #mustangVideo {
    position:relative;
    z-index:0;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(236, 236, 236);
    background-color: rgb(6, 75, 139);
}

.ford-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: -12rem;
}

.left-nav .suv:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .mustang:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .truck:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .electric:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}
.left-nav .classic:hover {
    cursor: pointer;
    color: rgb(10, 128, 238);
    transition: all 0.2s ease 0s;

}

.right-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right-nav .used:hover {
    color: rgb(10, 128, 238);
    cursor: pointer;
}
.right-nav .dealer:hover {
    color: rgb(10, 128, 238);
    cursor: pointer;
}
.right-nav .login:hover {
    color: rgb(10, 128, 238);
    cursor: pointer;
}

.fas {
    z-index: 100;
    display: flex;
    align-items: center;
    color: rgb(56, 152, 241);
}

#mustangVideo {
    width: 100%;
    height: 660px;
    object-fit: cover;
    z-index: -100;
}
video {
    pointer-events: none;
  }

.overlay {
    position:absolute;
    top: 2.5%;
    left: 36%;
    text-align: center;
    z-index:1;
    color: white;
    font-size: 1.5rem;
}
.overlay h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(6, 75, 139);
    text-underline-offset: .5rem;
}

.overlay h3 {
    margin-top: -1rem;
}

.btnMustang {
    height: 50px;
    width: 200px;
    margin-top: 22rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    font: bolder;
    transition: transform 0.5s ease;
}

.btnMustang:hover {
    background-color: rgb(6, 76, 139);
    color: white;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

.icon-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.list-text {
    text-align: center;
    margin-top: 5rem;
}

.mustangs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}



.mustangs2021 h1 {
    text-align: center;
}

.descr1 {
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
}
.descr1 h5 {
    margin-top: -.5rem;
}

.descr2 {
    display: flex;
    flex-direction: column;
}

.descr2 h5 {
    margin-top: -.5rem;
}
.descr3 {
    display: flex;
    flex-direction: column;
}
.descr3 h5 {
    margin-top: -.5rem;
}
.descr2 .btn2 {
    margin-top: 2rem;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* Hover for the mustangs */
.descr2 .btn2:hover {
    background-color: rgb(6, 75, 139);
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.descr1 #mach {
    transition: transform 0.5s ease;
}
.descr1 #mach:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.descr1:hover {
    color: rgb(6, 75, 139);
    opacity: 90%;
}

.descr2 #shelby {
    transition: transform 0.5s ease;
}
.descr2 #shelby:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.descr2:hover {
    color: rgb(6, 75, 139);
    opacity: 90%;

}

.descr3 #eco {
    transition: transform 0.5s ease;
}
.descr3 #eco:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.descr3:hover {
    color: rgb(6, 75, 139);
    opacity: 90%;

}

.card-descr-title {
    text-align: center;
    margin-top: 10rem;
}

.card-descr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.card1 {
    height: 350px;
    width: 450px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    transition: transform 0.4s;
    background: url(img/mustangtest.jpg) repeat;
    background-size: cover;
    transition: transform 0.5s ease;

}

.card1 h1 {
    display: flex;
    justify-content: center;
    margin-top: 14.5rem;
    color: white;
    text-align: center;
    font-size: 1rem;

}
.card1 .btnBottom1 {
    margin-top: 1rem;
    margin-left: 7.5rem;
    padding: 15px;
    width: 200px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
    font: bolder;
    transition: transform 0.5s ease;
}

.card1 .btnBottom1:hover {
    background-color: rgb(6, 75, 139);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}
.card2 {
    height: 350px;
    width: 450px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    transition: transform 0.4s;
    background: url(img/raptorpic.jpg) repeat center;
    background-size: cover;
}
.card2 h1 {
    display: flex;
    justify-content: center;
    margin-top: 14.5rem;
    color: white;
    font-size: 1rem;

    text-align: center;
}
.card2 .btnBottom2 {
    margin-left: 7.5rem;
    margin-top: 1rem;
    padding: 15px;
    width: 200px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
    font: bolder;
    transition: transform 0.5s ease;
}

.card2 .btnBottom2:hover {
    background-color: rgb(6, 75, 139);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}
.card3 {
    height: 350px;
    width: 450px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 100;
    transition: transform 0.4s;
    background: url(img/machenew.jpg) repeat center;
    background-size: cover;
}

.card3 h1 {
    display: flex;
    justify-content: center;
    margin-top: 14.5rem;
    color: white;
    text-align: center;
    font-size: 1rem;
}
.card3 .btnBottom3 {
    margin-top: 1rem;
    margin-left: 7.5rem;
    padding: 15px;
    width: 200px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
    font: bolder;
    transition: transform 0.5s ease;
}

.card3 .btnBottom3:hover {
    background-color: rgb(6, 75, 139);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

.img-raptor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;   
}
.img-raptor #hover1 {
    transition: transform .5s ease;

}
.img-raptor #hover1:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.big-raptor h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
}

.flexImageText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flexImageText2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flexImageText h5 {
    margin-top: -.5rem;
    color: rgb(6, 75, 139);
    cursor: pointer;
}

.img-wrapper {
    overflow: hidden;      /* ZOOM INSIDE CARD AND HIDES OVERFLOW*/
    
}

#btnShop {
    height: 50px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(21, 112, 197);
    color: white;
    border: none;
    border-radius: 5px;
    font: bolder;
    transition: transform 0.5s ease;
}

#btnShop:hover {
    background-color: rgb(6, 75, 139);
    color: white;
    transition: all 0.3s ease 0s;
    transform: translateY(-2px);
}

.gallery h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
}

.galleryCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.galleryCard1 {
    transition: opacity .5s ease-out;
}

.galleryCard1:hover {
    opacity: 60%;
    cursor: pointer;
}

.galleryCard2 {
    transition: opacity .5s ease-out;
    
}

.galleryCard2:hover {
    opacity: 60%;
    cursor: pointer;
}
.galleryCard3 {
    transition: opacity .5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryCard3:hover {
    opacity: 60%;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-left: 20px;
    font-size: 1rem;
    margin-top: 2rem;
    background-color: rgb(6, 75, 139);
    background-size: cover;
    color: rgb(252, 252, 252);
}
footer p {
    cursor: pointer;
}

.iconsFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    gap: 1rem;
}
.iconsFlex .devicon-twitter-original:hover {
    cursor: pointer;
    color: rgb(0, 110, 255);
}
.iconsFlex .devicon-facebook-plain:hover {
    cursor: pointer;
    color: rgb(11, 67, 189);   
}

@media (max-width: 1258px) {
    .img-raptor {
        display: flex;
        flex-direction: column;
    }
    .card-descr {
        display: flex;
        flex-direction: column;
    }
    .left-nav {
        margin-left: -1rem;
    }
}

@media (max-width: 1100px) { 
    .galleryCard3 img {
       
    }
}

@media (max-width: 1100px) {
    .mustangs-list {
        display: flex;
        flex-direction: column;
    }
    .overlay {
        top: 2.5%;
        left: 31%;
    }
    .galleryCard1 {
        display: none;
    }
    .galleryCard3 {
        display: none;
    }
}

@media (max-width: 950px) { 
    .left-nav {
        font-size: .7rem;
    }
    .right-nav {
        font-size: .7rem;
    }
}

@media (max-width: 750px) { 
    .overlay {
        top: 3%;
        left: 16%;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) { 
    .nav {
        display: flex;
        flex-direction: column;
    }
    .btn2 {
        display: none;
    }
}


@media (max-width: 600px) { 
    .img-wrapper {
        width: 500px;
    }
}

@media (max-width: 500px) { 
    .overlay {
        font-size: 1rem;
        top: 3.3%;
    }
    .img-wrapper {
        width: 400px;
    }
    
    .galleryCards {
        transform: scale(.7);
        margin-top: -5rem;
    }

    .flexImageText h3 {
        font-size: .9rem;
    }

    .card-descr {
        transform: scale(.7);
        margin-top: -6rem;
    }
    footer {
        font-size: .7rem;
    }
}

@media (max-width: 400px) { 
    .img-raptor {
        transform: scale(.8);
        margin-top: -4rem;
    }
}

@media (max-width: 400px) { 
    .mustangs-list {
        transform: scale(.8);
        margin-top: -4rem;
    }

    .galleryCards {
        transform: scale(.6);
    }
}

@media (max-width: 350px) { 
    .left-nav {
        font-size: .6rem;
    }
    .overlay {
        left:16%;
        font-size: .8rem;
    }
}

@media (max-width: 330px) { 
    .card-descr {
        transform: scale(.6);
    }
    .img-raptor {
        transform: scale(.7);
    }
    .list-text {
        font-size: .8rem;
    }
}

@media (max-width: 330px) { 
    .card-descr {
        margin-top: -8rem;
    }
    #mach {
        margin-left: 2rem;
    }
    .card-descr {
        margin-top: -10rem;
    }
    .img-raptor {
        margin-top: -5rem;
    }
}